<html>
    <head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
table td,th{
    padding: 6px 10px 6px 10px; 
}
th{	
    background-color: #ffc2b3;
    color: black;
}
td{
    word-break: break-all;
    padding: 0px 10px 0px 100px;
}
</style>
    </head>
    <body>
        <form method="POST" action="{{url_for('adminhome')}}">
        <select name="opt">
            <option value="1_1">courses</option>
            <option value="2_2">laptops</option>
            <option value="3_3">Projects</option>
            <option value="4_4">Placement</option>
        </select>
        <input type="submit" value="submit" name="submit">
        </form>
        {% if index %}
        <form method="POST" action="{{url_for('adminhome')}}">
            <button type="submit" value={{index}} name="submit">add details</button>
        </form>
        <table>
            <tr>
        {% for i in colnames %}
            <th>{{i}}</th>
        {% endfor %}
        <th>edit</th>
        <th>delete</th>
        </tr>
        {% for i in data %}
        <tr>
        {% for j in i %}
        <td>{{j}}</td>
        {% endfor %}
        <form method="POST" action="{{url_for('adminhome')}}">
            <td><button type="submit" value={{i[0]}}+{{index}}+editing name="submit">edit</button></td>
        <td><button type="submit" value={{i[0]}}+{{index}}+delete name="submit">delete</button></td>
        </form>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    </body>
</html>